# ===============================
# Web Framework
# ===============================
flask

# ===============================
# Computer Vision
# ===============================
opencv-python
numpy

# ===============================
# OCR
# ===============================
pytesseract

# ===============================
# Deep Learning (YOLOv8)
# ===============================
ultralytics
torch
torchvision

# ===============================
# Machine Learning (Admin AI)
# ===============================
scikit-learn
joblib
